<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Android Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Android Test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" > 
  <ion-list *ngFor="let datas of msg">
    <!-- <ion-list *ngFor="let msgs of msg"></ion-list> -->
    <ion-item>
      <ion-label (click)= "openProject(datas.message, datas.id, datas.app, datas.agent, datas.type, datas.localisation)">{{datas.message}}</ion-label>
      <!-- <ion-label>{{msgs.messages}}</ion-label> -->
    </ion-item>
  </ion-list>
  </div>

</ion-content>
