<ion-header [translucent]="true" class="card">
  <ion-toolbar class="card">
    <ion-title>
      App Android Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="column">
      <ion-card class="card"><ion-icon name="list-outline" class="iconSize"></ion-icon></ion-card>
    </div>
    <div class="column">
      <ion-card class="card" routerLink="/map"><ion-icon name="map-outline" class="iconSize"></ion-icon></ion-card>
    </div>
  </div>

  <div id="container" >
  <h1>Liste de missions :</h1> 
  <ion-card id="list">
  <ion-list *ngFor="let datas of msg">
    <ion-item>
      <ion-label (click)= "openProject(datas.message, datas.id, datas.app, datas.agent, datas.type, datas.localisation)">{{datas.message}}</ion-label>
    </ion-item>
  </ion-list>
  </ion-card>
  </div>
</ion-content>
